% rebase('base.html')
<div class="container">
    <div class="column is-three-fifths is_centerd"> 
        <h1 class="title is-2 has-text-primary">Arhiv testov</h1>
        % if seznam_testov == []:
            <div class="block">
                <div class="has-text-primary">
                    <h1 class="title is-2 has-text-primary">Niste še ustvarili nobenega testa.</h1>
                </div>
            </div>
        % else:
                % for i in range(len(seznam_testov)):
                    % if seznam_testov[i].stanje == "KT":
                            <div class="block">
                                <div class="columns">
                                    <div class="column is-1">
                                        <form method="POST" action="/izbrisi_test/">
                                            <input type="hidden" name="index_testa" value="{{i}}">
                                            <button class="button is-rounded is-danger is-outlined">
                                                <span class="icon is-small">
                                                    <i class="fas fa-times"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="column">
                                        <form method="POST" action="/koncan_test/">
                                            <input type="hidden" name="index_testa" value="{{i}}">
                                            <button class="button is-large is-primary is-outlined">{{seznam_testov[i].predmet}}, {{seznam_testov[i].letnik}}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    % end
                % end

            <div class="block">
                <h2 class="title is-3">Nedokončani testi:</h2>
                    % for i in range(len(seznam_testov)):
                        % if seznam_testov[i].stanje == "NT":
                        <div class="block">
                            <div class="columns">
                                <div class="column is-1">
                                    <form method="POST" action="/izbrisi_test/">
                                        <input type="hidden" name="index_testa" value="{{i}}">
                                        <button class="button is-rounded is-danger is-outlined">
                                            <span class="icon is-small">
                                                <i class="fas fa-times"></i>
                                            </span>
                                        </button>
                                    </form>
                                </div>
                                <div class="column">
                                    <form method="POST" action="/nedokoncan_test/">
                                        <input type="hidden" name="st_nalog" value="{{seznam_testov[i].st_nalog}}">
                                        <input type="hidden" name="index_testa" value="{{i}}">
                                        <button class="button is-large"><b>{{seznam_testov[i].predmet}}</b>, {{seznam_testov[i].letnik}}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        % end
                    % end
            </div>
        % end
    </div>
</div>