% rebase('base.html')
<div class="container">
    <div class="column is-three-fifths is_centerd"> 
        <h1 class="title is-2 has-text-primary">Arhiv testov</h1>
        % if seznam_testov == []:
            <div class="block">
                <div class="has-text-primary">
                    <h1 class="title is-2 has-text-primary">Niste še ustvarili nobenega testa.</h1>
                </div>
            </div>
        % else:
            <div class="block"> 
                <form method="POST" action="/koncan_test/">
                    % for i in range(len(seznam_testov)):
                        % if seznam_testov[i].stanje == "KT":
                            <div class="block">
                                <input type="hidden" name="index_testa" value="{{i}}">
                                <button class="button is-large is-primary is-outlined gumbek">{{seznam_testov[i].predmet}}, {{seznam_testov[i].letnik}}</button>
                            </div>
                        % end
                    % end
                </form>
            </div>

            <div class="block">
                <h2 class="title is-3">Nedokončani testi:</h2>
                <form method="POST" action="/nedokoncan_test/">
                    % for i in range(len(seznam_testov)):
                        % if seznam_testov[i].stanje == "NT":
                            <div class="block">
                                <input type="hidden" name="st_nalog" value="{{seznam_testov[i].st_nalog}}">
                                <input type="hidden" name="index_testa" value="{{i}}">
                                <button class="button is-large gumbek"><b>{{seznam_testov[i].predmet}}</b>, {{seznam_testov[i].letnik}}</button>
                            </div>
                        % end
                    % end
                </form>
            </div>
        % end
    </div>
</div>