<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Generator testov</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <link rel="stylesheet" href="/static/moj_stil.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <nav class="navbar is-light">
    <div class="container"> 
      <div class="navbar-brand"> 
        <span class="navbar-item">
          <h1 class="title is-2" ><strong><a class="link" href="/pozdrav_uporabnika/">Generator testov</a></strong></h1>
        </span>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/nov_test_osnova/">
              <strong>Ustvari nov test</strong>
            </a>
            <a class="button is-primary" href="/arhiv/">
              <strong>Arhiv testov</strong>
            </a>
            <form method="POST" action="/odjava/">
              <button class="button is-light">
                Odjavi se
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    {{!base}}
  </section>
</body>

</html>