<!-- % rebase('base.html') -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"> <!-- ali je to potrebno? -->
  <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- nastavi prilagajanje zaslonu-->
  <title>Generator testov</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"> <!-- css za izgled-->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>  <!-- slikce na strani-->
</head>



<body>

    <form method="POST">

        
        <div class="container gumbki">
            <div class="column is-three-fifths is_centerd">
                
                <div class="block">
                    <h1 class="title is-2 has-text-primary">Naloge</h1>
                </div>

                <div class="block">
                    V okence napiši navodilo naloge. Namesto podatkov vpiši znak # in zaporedno številko podatka.
                    <div class="has-text-primary">
                        Zgled:
                        <p class="is-italic">Avto je v #1 s prevozil #2 km. Kako hitro je peljal, če veš, da se je gibal premo enakomerno?</p>
                    </div>
                </div>
                % for i in range(st_nalog):
                <div class="block">
                    <h2 class="subtitle is-3">{{i+1}}. naloga</h2>
                        <div class="block">
                            <textarea class="textarea" placeholder="Zapiši navodilo naloge."></textarea>
                        </div>
                        <div class="control">
                            <button class="button is-primary">
                                <strong>Potrdi</strong> 
                            </button>
                        </div>    
                    
                        
                        
                        <div class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Baze podatkov</p>
                                    <button class="delete" aria-label="close"></button>
                                </header>
                                <section class="modal-card-body">
                                <p>
                                    Izberi množice števil, iz katerih bodo izbrani posamezni podatki v nalogi.
                                </p>
                    
                                <ul>
                                    <li> #1:
                                        <div class="control">
                                            <label class="radio">
                                              <input type="radio" name="answer">
                                              Naravna števila do 50
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="answer">
                                              Realna števila med -50 in 50
                                            </label>
                                        </div>
                                    </li>
                                    <li> #2:
                                        <div class="control">
                                            <label class="radio">
                                              <input type="radio" name="answer">
                                              Cela števila med -20 in 20
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="answer">
                                              Racionalna števila med -10 in 10
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                </section>
                                <footer class="modal-card-foot">
                                    <button class="button is-success">Save changes</button>
                                    <button class="button">Cancel</button>
                                </footer>
                            </div>
                        </div>
                        
                </div>
                % end
                    
                <div class="level-right">
                    <div class="control">
                        <button class="button is-primary is-rounded is-outlined">
                            <strong>+ Nova naloga</strong> 
                        </button>
                    </div>  
                </div>      
                    
                    
            </div>
        </div>
            
            
        </form>
        
        
    </body>
    
    
