% rebase('base.html')
        
    <div class="container">
        <div class="column is-three-fifths is_centerd"> 
            <h1 class="title is-2 has-text-primary">Naloge</h1>

            <div class="block">
                <div class="has-text-primary">
                    V okence napiši navodilo naloge. Namesto podatkov vpiši znak # in zaporedno številko podatka.
                    <p>ZGLED: <i>Avto je v #1 s prevozil #2 km. Kako hitro je peljal, če veš, da se je gibal premo enakomerno?</i></p>
                </div>
            </div>



            % for i in range(st_nalog):
                % if slovar_nalog[i].besedilo == "":
                <div class="block">
                    <h2 class="title is-3">{{i+1}}. naloga</h2>
                    <form method="POST" action="/uredi_test/">
                        <div class="block">
                            <textarea class="textarea" name="besedilo" placeholder="Zapiši navodilo naloge."></textarea>
                        </div>
                        <input type="hidden" name="st_nalog" value="{{st_nalog}}">
                        <input type="hidden" name="izpolnjena_naloga" value="{{i}}">
                        <input type="hidden" name="index_testa" value="{{index_testa}}">
                        <div class="block">
                            <button type="submit" class="button is-primary is-medium">
                                Potrdi
                            </button>
                        </div>
                    </form>
                </div>
                % elif slovar_nalog[i].slovar_baz_podatkov == None or slovar_nalog[i].slovar_baz_podatkov == dict():
                <div class="block">
                    <h2 class="title is-3">{{i+1}}. naloga</h2>
                    <textarea class="textarea has-background-grey-lighter" name="besedilo" readonly>{{slovar_nalog[i].besedilo}}</textarea>
                </div>

                <form method="POST" action="/uredi_nalogo/">
                    <section class="hero is-primary">
                    <div class="hero-body">
                        <div class="block">
                            <h3 class="title is-4">Baze podatkov:</h3>
                            Izberi množice števil, iz katerih bodo izbrani posamezni podatki v nalogi.
                        </div>
                        <div class="block">
                            <input type="hidden" name="st_nalog" value="{{st_nalog}}">
                            <input type="hidden" name="izpolnjena_naloga" value="{{i}}">
                            <input type="hidden" name="index_testa" value="{{index_testa}}">
                            <div class="content is-medium">
                                <ul>
                                    %for j in range(slovar_nalog[i].st_podatkov):
                                    <li> <b>#{{j+1}}:</b>
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="answer{{j+1}}" value="R1">
                                            <mathbb>Realna števila med -10 in 10</mathbb>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="answer{{j+1}}" value="R2">
                                            <mathbb>Realna števila med -50 in 50</mathbb>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="answer{{j+1}}" value="N1">
                                            <mathbb>Naravna števila do 10</mathbb>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="answer{{j+1}}" value="N2">
                                            <mathbb>Naravna števila do 50</mathbb>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="answer{{j+1}}" value="Q1">
                                            <mathbb>Racionalna števila med -10 in 10</mathbb>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="answer{{j+1}}" value="Q2">
                                            <mathbb>Racionalna števila med -50 in 50</mathbb>
                                        </label>
                                    </div>
                                    </li>
                                    %end
                                </ul>
                            </div>
                        </div>
                        
                        <div class="block">
                            <h3 class="title is-4">Zapiši formulo rešitve:</h3>
                            Zapiši formulo rešitve, s spremenljivkami enakimi, kot v besedilu naloge. 
                            <p>ZGLED: <i>#2 / #1</i></p> 
                        </div>
                        <div class="block">
                            <div class="control">
                                <input class="input" name="formula_resitve" type="text" placeholder="Zapiši formulo za rešitev naloge.">
                            </div>
                        </div>
                        <div class="block">
                            <button type="submit" class="button is-white is-medium">
                                Shrani
                            </button>
                        </div>
                    </div>
                    </section>
                </form>
                % else:
                <div class="block">
                    <h2 class="title is-3">{{i+1}}. naloga</h2>
                    <textarea class="textarea has-background-grey-lighter" name="besedilo" readonly>{{slovar_nalog[i].besedilo}}</textarea>
                </div>
                % end                        
            % end
            
            % narisi_gumbek = True

            % for i in range(st_nalog):
                % if not slovar_nalog[i].slovar_baz_podatkov:
                    <button class="button is-primary" title="Disabled button" disabled>Zaključi</button>
                    % narisi_gumbek = False
                    % break
                % end
            % end

            % if narisi_gumbek == True:
            <form method="POST" action="/test/">
                <input type="hidden" name="index_testa" value="{{index_testa}}"> 
                <button class="button is-primary" title="Disabled button">Zaključi</button>
            </form>
            % end
        </div>
    </div> 


