<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"> <!-- ali je to potrebno? -->
    <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- nastavi prilagajanje zaslonu-->
    <title>Generator testov</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"> <!-- css za izgled-->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>  <!-- slikce na strani-->
  </head>
  
  <body>
    <nav class="navbar is-light">
      <div class="container">
        <div class="navbar-brand"> 
          <span class="navbar-item">
            <strong>Generator testov</strong>
          </span>
        </div>
      </div>
    </nav>
    {{!base}}
    <footer>© 2021, Manca Murn</footer>
  </body>
</html>