<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <title>Generator testov</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"> 
        <link rel="stylesheet" href="/static/moj_stil.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>  
    </head>
    <body>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="subtitle is-1 has-text-centered gumbki">Generator testov</h1>
                    
                    <div class="box has-background-light py-6 px-6">
                        <h2 class="subtitle is-3">Prijava</h2>
                
                        <p class="mg-large">
                            <form action="/prijava/" method="POST">
                                <div class="field">
                                    <label class="label is-light">Uporabniško ime</label>
                                    <div class="control has-icons-left">
                                        <input class="input" name="uporabnisko_ime" type="text" placeholder="uporabniško ime">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    % if napaka:
                                        <p class="help is-danger">{{ napaka }}</p>
                                    % end
                                </div>
                                <div class="field">
                                    <label class="label is-light">Geslo</label>
                                        <div class="control has-icons-left">
                                            <input class="input" name="geslo" type="password" placeholder="geslo">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </div>
                                </div>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-large is-fullwidth is-primary is-light gumbki">
                                            <strong>Prijavi se</strong>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </p>
                    </div>
                    <p class="block">
                        Še nisi registriran? To lahko storiš s klikom na spodnji gumb.
                        <a class="button is-large is-fullwidth is-primary gumbki" href="/registracija/">
                            <strong>Registriraj se</strong>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </body>    
</html>